name: cinema_culture
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=2.18.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  go_router: ^10.0.0
  flutter_dotenv: ^6.0.0
  dio: ^5.9.0
  flutter_riverpod: ^2.3.7

dev_dependencies:

  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true

  assets:
    - .env